<div>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "imageonline-co-whitebackgroundremoved (2).png" %>
    <% end %>
    <h1>Bloom Spa</h1>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Me contacter", "#{root_path}#contact", class: "nav-link" %>
        </li>
        <li class="nav-item ">
          <%= link_to "Mes prestations", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "reservation", "#", class: "nav-link reservation" %>
        </li>
    </ul>
  </div>
</div>
</div>
