<div class="container">
    <h1>Ma philosophie</h1>
      <div class="moi">
      <div class="size">
        <p><span class="italique">« Si je devais résumer le Bloom Spa aujourd’hui avec vous, je dirais que ce sont d’abord des
rencontres. Et c’est assez curieux de se dire que, le hasard et les rencontres forgent une destinée.
C’est le goût du partage, du bien- être et du « être bien » qui m’a poussé aujourd’hui à entreprendre. »</span>
<br>
<br>
Après avoir effectué 7 ans d’études dans le domaine de la beauté et du spa et possédant 5 années
d’expérience dans des instituts et spa hôtelier étoilés, j’ai souhaité entreprendre.
<br>
<br>
Je serai à votre écoute afin que chacun de mes soins répondent à vos attentes et vos besoins.
<br>
<br>
<strong>Que devez-vous préparer lors de ma venue ?</strong>
<br>
Une seule chose, et non des moindres : votre état d’esprit ouvert à la détente

      </div>
      <div class="photo">
        <%= image_tag "emma1.jpg" %>
      </div>
  </div>
</div>
  <div class="green">
    <div class="container">
    <div class="presta row">
      <div class="col-12 col-lg-6" style="background-image: url(https://res.cloudinary.com/duf8mmjpl/image/upload/v1610127748/joues_wfvzmy.png">
          <div class="overlay">
            <h4>Prestations</h4>
            <p><small>Besoin d’un lâcher-prise, d’une détente musculaire ou d’un coup éclat en un rien de temps ?
            A vous de choisir!</small></p>
          </div>
      </div>
      <div class="col-12 col-lg-6" style="background-image: url(https://res.cloudinary.com/duf8mmjpl/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1610127759/toa-heftiba-rjGFEm3Bd5o-unsplash_dzh5ja.jpg">
          <div class="overlay">
            <h4>Produits</h4>
            <p><small>Offrez le meilleur à votre corps grâce à une sélection de produits sur-mesure!</small></p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%= image_tag "home.svg" %>
      <h4>Chez vous</h4>
      <p>Evitez le stress de la circulation et des embouteillages que vous pourriez rencontrer 
Vous n’avez rien à prévoir, seulement vous détendre.</p>
    </div>

    <div class="col-12 col-lg-4">
      <%= image_tag "party.svg" %>
      <h4>Lors d'évènement</h4>
      <p>Moment inoubliable, agréable et privilégié à passer entre amies, simplement pour prendre soin de soi,
se retrouver, discuter et s’amuser. Des traitements et des soins spéciaux sont mis en œuvre pour
vous.</p>
    </div>
      <div class="col-12 col-lg-4">
      <%= image_tag "work.svg" %>
      <h4>Au bureau</h4>
      <p>Nos massages en entreprise permettent à vos collaborateurs une pause détente sur leur lieu de travail.</p>
    </div>
  </div>
</div>

<div class="mt-5" id="contact">
  <h1 class="py-3">Me contacter</h1>
  <div class="mecontacter container">
    <%= form_for @contact do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <div class="namemail">
      <%= f.label :name %> <br>
      <%= f.text_field :name, placeholder: "Votre Nom", class: 'mx-3', required: true %>

      <%= f.label :email %> <br>
      <%= f.text_field :email, placeholder: "Votre email", required: true, class: 'mx-3' %>
    </div>

    <br>
    <%= f.label :message %> <br>
    <%= f.text_area :message, placeholder: "Votre message", as: :text %>


    <%= f.label :nickname %> <br>
    <%= f.text_field :nickname, hint: 'leave this field blank', class: 'notodisplay' %>


    <%= f.submit 'Envoyer', class: " mt-3 button" %>
  <% end %>
  </div>
</div>

