<div class="container">
    <h1>Ma philosophie</h1>
      <div class="moi">
      <div class="size">
        <p>Je pense que chacun à une mission de vie. La mienne est de partager mon savoir-faire.</p>
        <br>
        <p>Le Bloom Spa regroupe pour votre bien-être des produits d'excellence, une ecoute attentive de vos attentes et besoins, des soins de grandes qualités.</p>
        <br>
        <p>Je vous guiderai en tant que "Facilitatrice de vie" à choisir le bon soin, d'avoir les bons gestes à la maison, au travail, afin que vos expériences au Bloom Spa soient inédites et optimales.</p>
      </div>
      <div class="photo">
        <%= image_tag "emma1.jpg" %>
      </div>
  </div>
</div>
  <div class="green">
    <div class="presta row">
      <div class="col-6" style="background-image: url(https://res.cloudinary.com/duf8mmjpl/image/upload/v1610127748/joues_wfvzmy.png">
          <div class="overlay">
            <h4>Yoga</h4>
            <p><small>Offrez le meilleur à votre corps grâce à une fabuleuse séance de Yoga  !</small></p>
          </div>
      </div>
      <div class="col-6" style="background-image: url(https://res.cloudinary.com/duf8mmjpl/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1610127759/toa-heftiba-rjGFEm3Bd5o-unsplash_dzh5ja.jpg">
          <div class="overlay">
            <h4>Yoga</h4>
            <p><small>Offrez le meilleur à votre corps grâce à une fabuleuse séance de Yoga  !</small></p>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%= image_tag "home.svg" %>
      <h4>Chez vous</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit perferendis tempore nostrum unde harum. Excepturi recusandae eligendi obcaecati vel ducimus rem illo, autem placeat hic officiis, fugiat doloremque soluta error!</p>
    </div>

    <div class="col-12 col-lg-4">
      <%= image_tag "party.svg" %>
      <h4>Lors d'évènement</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit perferendis tempore nostrum unde harum. Excepturi recusandae eligendi obcaecati vel ducimus rem illo, autem placeat hic officiis, fugiat doloremque soluta error!</p>
    </div>
      <div class="col-12 col-lg-4">
      <%= image_tag "work.svg" %>
      <h4>Au bureau</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit perferendis tempore nostrum unde harum. Excepturi recusandae eligendi obcaecati vel ducimus rem illo, autem placeat hic officiis, fugiat doloremque soluta error!</p>
    </div>
  </div>
</div>

</div>
<div class="contact mt-5">
  <h2 class="py-3">Me contacter</h2>
  <div class="mecontacter container">
    <%= form_for Contact.new, url: home_index_path do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <div class="namemail">
      <%= f.label :name %> <br>
      <%= f.text_field :name, placeholder: "Votre Nom", class: 'mx-3', required: true %>

      <%= f.label :email %> <br>
      <%= f.text_field :email, placeholder: "Votre email", required: true, class: 'mx-3' %>
    </div>

    <br>
    <%= f.label :message %> <br>
    <%= f.text_area :message, placeholder: "Votre message", as: :text %>


    <%= f.label :nickname %> <br>
    <%= f.text_field :nickname, hint: 'leave this field blank', class: 'notodisplay' %>


    <%= f.submit 'Envoyer', class: " mt-3 button" %>
  <% end %>
  </div>
</div>

